@*@model Core.Models.User

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin";
}

<dl class="row">
    <dt class="col-sm-2">
        Id:
    </dt>
    <dd class="col-sm-10">
        @Model.Id
    </dd>
    <dt class="col-sm-2">
        First Name:
    </dt>
    <dd class="col-sm-10">
        @Model.FirstName
    </dd>
    <dt class="col-sm-2">
        Last Name:
    </dt>
    <dd class="col-sm-10">
        @Model.LastName
    </dd>
    <dt class="col-sm-2">
        Email:
    </dt>
    <dd class="col-sm-10">
        @Model.Email
    </dd>
    <dt class="col-sm-2">
        Phone Number:
    </dt>
    <dd class="col-sm-10">
        @Model.PhoneNumber
    </dd>
    <dt class="col-sm-2">
        Country:
    </dt>
    <dd class="col-sm-10">
        @Model.Country
    </dd>
    <dt class="col-sm-2">
        University:
    </dt>
    <dd class="col-sm-10">
        @Model.University
    </dd>
    <dt class="col-sm-2">
        LibraryIdentificationNumber:
    </dt>
    <dd class="col-sm-10">
        @Model.LibraryIdentificationNumber
    </dd>
    <dt class="col-sm-2">
        Status:
    </dt>
    <dd class="col-sm-10">
        @Model.Status
    </dd>

    <dt class="col-sm-2">
        Password:
    </dt>
    <dd class="col-sm-10">
        @Model.PasswordHash
    </dd>
    
</dl>

<button style="background-color:darkblue;"><a asp-action="Index">Back to List</a></button>*@