
@model IEnumerable<Core.Models.User>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin";
}



    <div class="card-header" style="background-color:midnightblue;">
        <div class="card-title">
            <h1 class="text-center">Users</h1>
        </div>
    </div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>


            <th>
                Edit
            </th>
            <th>
                Details
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.FirstName)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@user.Id">Details</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@user.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
