@model Core.DTOs.BookModel


@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Details";
}

<dl class="row">
    <dt class="col-sm-2">
        Title:
    </dt>
    <dd class="col-sm-10">
        @Model.Title
    </dd>
    <dt class="col-sm-2">
        Subject:
    </dt>
    <dd class="col-sm-10">
        @Model.Subject
    </dd>
    <dt class="col-sm-2">
        Language:
    </dt>
    <dd class="col-sm-10">
        @Model.Language
    </dd>
    <dt class="col-sm-2">
        Publisher:
    </dt>
    <dd class="col-sm-10">
        @Model.Publisher
    </dd>
    <dt class="col-sm-2">
        Number of Pages:
    </dt>
    <dd class="col-sm-10">
        @Model.NumberOfPages
    </dd>
    <dt class="col-sm-2">
        Price:
    </dt>
    <dd class="col-sm-10">
        @Model.Price
    </dd>
    <dt class="col-sm-2">
        Availability Status:
    </dt>
    <dd class="col-sm-10">
        @Model.AvailabilityStatus
    </dd>
    <dt class="col-sm-2">
        Accessibility Status:
    </dt>
    <dd class="col-sm-10">
        @Model.AccessibilityStatus
    </dd>
    <dt class="col-sm-2">
        ISBN:
    </dt>
    <dd class="col-sm-10">
        @Model.ISBN
    </dd>
    <dt class="col-sm-2">
        Publication Date:
    </dt>
    <dd class="col-sm-10">
        @Model.PublicationDate
    </dd>

    <dt class="col-sm-2">
        Book Image:
    </dt>
    <dd class="col-sm-10">
        <img class="card-img" style="height:200px; width:200px" src="~/bookImages/@Model.BookImage" />
    </dd>
    <dt class="col-sm-2">
        Book PDF:
    </dt>
    <dd class="col-sm-10">
        @*<img class="card-img" style="height:200px; width:200px" src="~/bookPDFs/@Model.BookPDF" />*@
        <a href="~/bookPDFs/@Model.BookPDF" download="@Model.BookPDF"><input class="btn btn-outline-primary" type="button" value="Download book PDF" /></a>
    </dd>



    @foreach (var category in Model.BookCategories)
    {
        <dt class="col-sm-2">
            Book Category:
        </dt>
        <dd class="col-sm-10">
            @category.Name
        </dd>
    }



</dl>
<div>
    <p>List of Authors</p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    FirstName
                </th>

                <th>
                    LastName
                </th>
                <th>
                    Biography
                </th>
                <th>
                    Details
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var author in Model.Authors)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => author.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => author.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => author.Biography)
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Author" asp-route-id="@author.Id">Details</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<button style="background-color:darkblue;"><a asp-action="Index">Back to List</a></button>